* {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* *************** */
/* NAVIGATION BAR */
/* ************* */

#navBar {
    text-align: center;
    margin: 20px 0 20px 0;
}

.navBar li {
    display: inline;
    padding: 2em;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.navBar a {
    text-decoration: none;
    color: black;
}

.salesNavLink a {
    color: red;
}

/* ************ */
/* HERO BANNER */
/* ********** */

#heroBanner {
    background-image: url(./Images/Hero-Banner-overlay.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
}

.heroCotentContainer {
    box-sizing: border-box;
    height: 300px;
    text-align: center;
    width: 40%;
    margin-left: 20px;
    padding: 120px 0 0 65px;
}

.heroBannerHeadline {
    color: white;
    font-size: 2.4em;
    padding-bottom: 12px;
}

.heroBannerButton {
    width: 70%;
    height: 35px;
    padding-top: 12px;
    padding-bottom: 40px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: white;
}

.heroBannerButton a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

/* ***************** */
/* PRODUCT CAROUSEL */
/* *************** */

#productCarousel {
}

.carouselHeader {
    text-align: center;
    font-size: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
}

/* ********************* */
/* INFORMATIONAL BANNER */
/* ******************* */

#infoBanner {
    background-color: rgb(199, 185, 185);
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
}

/* ************************** */
/* STICKY PROMOTIONAL BANNER */
/* ************************ */

#bottomPromoBanner {
    background-color: red;
    width: 100%;
    height: 65px;
}