* {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* *************** */
/* NAVIGATION BAR */
/* ************* */

#navBar {
    text-align: center;
    margin: 20px 0 20px 0;
}

.navBar li {
    display: inline;
    padding: 2em;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.navBar a {
    text-decoration: none;
    color: black;
}

.salesNavLink a {
    color: red;
}

/* ************ */
/* HERO BANNER */
/* ********** */

#heroBanner {
    background-image: url(./Images/Hero-Banner-overlay.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
}

.heroCotentContainer {
    box-sizing: border-box;
    height: 300px;
    text-align: center;
    width: 40%;
    margin-left: 20px;
    padding: 120px 0 0 65px;
}

.heroBannerHeadline {
    color: white;
    font-size: 2.4em;
    padding-bottom: 12px;
}

.heroBannerButton {
    width: 70%;
    height: 35px;
    padding-top: 12px;
    padding-bottom: 40px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: white;
}

.heroBannerButton a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

/* ***************** */
/* PRODUCT CAROUSEL */
/* *************** */

#productCarousel {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.carouselHeader {
    text-align: center;
    font-size: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.carousel {
    height: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: nowrap;
    overflow-x: auto;
}

li{ 
    list-style: none; 
}

.carouselContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 20px 10px 20px;
}

.carouselTrack {
    display: inline-flex;
}

.carouselSlide {
    
}

.productCard {
    width: 90%;
    height: 430px;
    text-align: center;
}

.productCard img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.productCard h2 {
    padding: 10px 0 5px 0;
}

.productCard h4 {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}

.productCard button {
    width: 50%;
    height: 45px;
    border-style: none;
    border-radius: 10px;
    background-color: black;
}

.productCard button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.carouselBtn {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

.carouselNav {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    cursor: pointer;
}

.carouselIndicator {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border-style: none;
    margin: 10px;
    background-color: rgb(163, 154, 154);
}

/* ********************* */
/* INFORMATIONAL BANNER */
/* ******************* */

#infoBanner {
    background-color: rgb(199, 185, 185);
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
}

.infoBannerContainer {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    padding: 30px 0 30px 0;

}

.infoBannerCard {
    width: 40%;
    height: 300px;
    padding: 20px;
}

.infoBannerCard img {
    height: 90px;
    width: 90px;
    padding-bottom: 20px;
}

.infoBannerCard a {
    color: black;
}

.infoBannerCard a img {
    height: 50px;
    width: 50px;
}

.infoBannerCard h2, h4 {
    padding-bottom: 10px;
    font-weight: bold;
}

.infoBannerCard p {
    height: 80px;
    padding-bottom: 20px;
    font-weight: 650;
}

.socialI {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIconF {
    margin-left: 100px;
}

.socialIconT {
    margin-right: 100px;
}

.infoBannerCard1, .infoBannerCard2 {
    border-right: solid 5px rgb(161, 158, 158);
    height: 200px;
    padding-inline-end: 40px;
}

.infoBannerCard3 {
    border-right: solid 5px rgb(161, 158, 158) 0;
    height: 200px;
    padding-right: 20px;
}

/* ************************** */
/* STICKY PROMOTIONAL BANNER */
/* ************************ */

#bottomPromoBanner {
    background-color: red;
    width: 100%;
    height: auto;
    text-align: center;
    position: sticky;
}

.bottomPromoContainer {
    color: white;
    padding: 15px 15px 0 70px;
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
}

.bottomPromoText {
    letter-spacing: 1px;
}

.bottomPromoBtn button{
    background-color: white;
    border-style: none;
    width: 40%;
    padding: 8px;
    border-radius: 4px;
}

.bottomPromoBtn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
}