* {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* *************** */
/* NAVIGATION BAR */
/* ************* */

#navBar {
    text-align: center;
    margin: 20px 0 20px 0;
}

.navBar li {
    display: inline;
    padding: 2em;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: bold;
}

.navBar a {
    text-decoration: none;
    color: black;
}

.salesNavLink a {
    color: red;
}

/* ************ */
/* HERO BANNER */
/* ********** */

.heroBannerImg {
    background-color: black;
    height: 450px;
    width: 100%;
}

#heroBanner img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
}